<div class="animate__animated animate__fadeIn animate__faster">
  <h2>Por país</h2>
  <hr />
  <div class="row">
    <div class="col">
      <app-pais-input
        (onEnter)="buscar( $event )"
        (onDebounce)="sugerencias( $event )"
        placeholderInput="Buscar por país">
      </app-pais-input>
    </div>
  </div>

  <ul *ngIf="mostrarSugerencias" class="list-group">
    <li *ngFor="let paises of paisesSugeridos" class="list-group-item list-group-item-action">
      <a class="nav-link"
        [routerLink]="['/pais', paises.cca2]">
        {{paises.name.common}}
      </a>
    </li>
    <li class="list-group-item list-group-item-action"
        (click)="buscarSugerido(termino)">
      <a class="nav-link">
         Buscar {{termino}}
      </a>
    </li>
  </ul>

  <hr/>
</div>

<div *ngIf="hayError" class="alert alert-danger">
  No se encontró nada con el término: <b>{{termino}}.</b>
</div>

<div *ngIf="!hayError" class="row">
  <div class="col">
    <app-pais-tabla [paises]="paises"></app-pais-tabla>
  </div>
</div>